body{

    background-color: #5664e2;
    color: white;
    margin: 0;
    justify-content: center;
  }
  


  h1, h2{
      color:rgb(0, 179, 255);
      text-align:center;
  }

  h1{
    text-transform: uppercase;
  }
  p{
    text-align: justify;
  
  }

  header{
    background-color: rgb(91, 114, 177);
    color: black;
    align-items: center;
    width: 100%;
  }

  main{
    margin: auto 20%;
  }

  .destaque{
    background-color: rgb(42, 165, 69);
    color: azure;
    padding: 20px;
    margin-bottom: 20px;

  }

#img-log{
  width: 100px;
  margin-right: 520px;
}

  
footer{
  background-color: white;
  color: black;
}

#titulo{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

#Algoritmos{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-right: 650px;
}
